<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Hydrology Addin</Name><AddInID>{f160e9d0-f3b3-48f0-8f99-b85d9c01c06e}</AddInID><Description>Contains buttons and tools for hydrological analysis.</Description><Version>0.1</Version><Image /><Author>Charlotte Viner</Author><Company>University of Leeds</Company><Date>05/14/2018</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="hydrology_addin_addin.py" namespace="hydrology_addin_addin"><ArcMap>
    <Commands>
        <Button caption="1 Determine Flowpaths" category="Hydrology Addin" class="DetermineFlowpaths" id="hydrology_addin_addin.flowpathsbutton" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="2 Delineate Catchment" category="Hydrology Addin" class="DelineateCatchment" id="hydrology_addin_addin.catchmentbutton" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Hydrology Toolbar" category="Hydrology Addin" id="hydrology_addin_addin.hydrologytoolbar" showInitially="true"><Items><Button refID="hydrology_addin_addin.flowpathsbutton" /><Button refID="hydrology_addin_addin.catchmentbutton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>